extends base

block title
  title tooltip 

block content
  style.
    li{display: inline-block; list-style:none; margin: 0 10px}
    body{padding-bottom: 400px}

  div.container
    h1 Tooltip 绝大部分参数可写在触发元素的data-xxx属性里

    p 参数解释，补充信息见a(href="http://getbootstrap.com/2.3.2/javascript.html#tooltips") bootstrap tooltip
    pre.
      /* 
       * 原bootstrap tooltip的参数template已废弃
       * 满足70%需求的简单tooltip可不写js直接调用，但触发元素上设置data-toggle="tooltip"（类似dialog）即可。扩展则说继续添加如下的data-xxx属性注入参数实现
       * /
    pre.
      {
          animation: true
        , type: 'normal'   //tip 类型 {string} 'normal'|'attention'|'confirm' ,区别见demo
        , placement: 'top'
        , selector: false  //通常要配合调用方法使用，如果tooltip元素很多，用此途径进行事件委托减少事件监听数量: $('body').tooltip({selector: '.tips'})
        , trigger: 'hover focus'   //触发方式，多选：click hover focus，如果希望手动触发，则传入'manual'
        , title: 'it is default title'  //默认tooltip的内容，如果给html元素添加了title属性则使用该html属性替代此属性。 
        , delay: 0   //如果只传number，则show、hide时都会使用这个延时，若想差异化则传入形如{show:400, hide: 600} 的对象   注：delay参数对manual触发方式的tooltip无效
        , html: true  //决定是html()还是text()
        , container: false  //将tooltip与输入框组一同使用时，为了避免不必要的影响，需要设置container.他用来将tooltip的dom节点插入到container指定的元素内的最后，可理解为 container.append(tooltipDom)。
        , widthlimit: true  // {Boolean|string} tooltip元素最大宽度限制，false不限宽，true限宽300px，也可传入"500px",人工限制宽度
        , okHide: fn       //带确认取消按钮的tooltip，点击确认时的回调。执行 this.hide() 可以关闭对应tooltip
      }
      
    ul
      - var placement = ['top', 'right', 'bottom', 'left']
      each dir in placement
        li
          a(href='#', data-placement='#{dir}', data-toggle='tooltip', title='浮出在<b>#{dir}</b>的tooltip') 看#{dir}

    ul
      li 右方click触发tooltip
      - var bigdata =  '' + Math.random() + Math.random() + Math.random() + Math.random() + Math.random()
      - var widthtype = ['false', 'true']
      each type in widthtype
        li
          a(href='javascript:void(0)', data-trigger='click', data-toggle='tooltip', data-placement='bottom', data-widthlimit='#{type}', title='#{bigdata}<pre>widthlimit:#{type}</pre>') widthlimit:'#{type}'

      li
        a(href='javascript:void(0)', data-trigger='click', data-toggle='tooltip', data-placement='top', data-widthlimit='500px', title='#{bigdata}<pre>widthlimit:"500px"</pre>') widthlimit:'500px'

    ul
      - var placement = ['top', 'right', 'bottom', 'left']
      each dir in placement
        li
          a(href='javascript:void(0)', data-placement='#{dir}', data-toggle='tooltip', data-type='attention', title='强调tooltip') #{dir} opt.type = 'attention'
    hr
    pre
      $('#J_set').tooltip({okHide: function(){this.hide()}})
    ul
      li
        a(id="J_set", href='javascript:void(0)', data-type="confirm", data-placement="bottom", data-trigger='click', title='这里可以做一些setting类别的事务<br><input type="text">') 带确定取消按钮的tooltip 
    hr
    p 如果不想用tooltip，但若只想要三角效果，对三角父元素用.tooltip-only-arrow和.top|.bottom|.right|.left
    textarea(cols="100", rows="5").
      <div class="tooltip-only-arrow bottom" style="width:300px;height:40px;border:2px solid #b2b2b2">
        <div class="tooltip-arrow"><div class="tooltip-arrow cover"></div></div>
      </div>
    br
    br
    div.tooltip-only-arrow.bottom(style="width:300px;height:40px;border:2px solid #b2b2b2")
      div.tooltip-arrow
        div.tooltip-arrow.cover


block js_block
  script 
    $('#J_set').tooltip({okHide: function(){console.log(this);this.hide()}})
