extends base

block title
  title 按钮

block sidebar
  +sidebar('btn')

block content
  - var SIZES = ['xlarge', 'large', '', 'small']
  - var ROLES = [["", "默认"], ["primary", "首要"], ["success", "成功"], ["info", "信息"], ["warning", "警告"], ["danger", "危险"], ["link", "链接"]]

  h1 按钮

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/btn.png')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  p.sui-lead
    ul.unstyled
      li 按钮统一使用下面提供的高度和样式，最好不要自己添加新的尺寸和样式（但是可以把其中某些样式进行重载）。
      li 一般情况下推荐使用灰白色按钮，根据具体的页面和使用环境来选择。
      li 比较重要的操作或者需要用户明显注意到的地方使用蓝色按钮。
      li 黄色按钮请谨慎使用，在非常重要和特殊的情况下需要用户迅速发现并立即处理的时候使用，一个页面不能超过一个黄色按钮。

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  h2 1. 不同大小和功能的按钮
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        
        each s in SIZES
          each r in ROLES
            - var classname = 'sui-btn'
            if s
              - classname += ' btn-' + s
            if r[0] 
              - classname += ' btn-' + r[0]
            | <a href='javascript:void(0);' class='#{classname}'>#{r[1]}</a>
            | 
          br
          br
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 按钮有四种尺寸：small, default, large 和 xlarge
      | 按钮七种不同功能："default", "primary", "success", "info", "warning", "danger", "inverse"
      | 还有一种是禁用的按钮，通过增加 <code>.disabled </code> class 或者添加 <code>disabled</code>属性

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


  h2 2.带图标的按钮 
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码
    li
      a(href='#doc2', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo2
      div.bs-docs-example
        each v in ROLES
          - var classname = 'sui-btn'
          if v[0]
            - classname += ' btn-' + v[0]
          |<a href='javascript:void(0);' class='#{classname}'><i class='sui-icon icon-pencil'></i>#{v[1]}</a>
          | 
    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')
    div.tab-pane#doc2
      | 带图标的按钮

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码

  h2 3. 块级按钮
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo3', data-toggle='tab') 示例
    li
      a(href='#code3', data-toggle='tab') 代码
    li
      a(href='#doc3', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo3
      div.bs-docs-example
        each v in ROLES
          - var classname = 'sui-btn btn-block btn-xlarge'
          if v[0]
            - classname += ' btn-' + v[0]
          |<a href='javascript:void(0);' class='#{classname}'>#{v[1]}</a>
          | 
    div.tab-pane#code3
      pre.prettyprint.linenums(data-target='#demo3>div')
    div.tab-pane#doc3
      | 块级按钮会独占一行

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo3>div') 复制代码
  
