extends base

block title
  title 按钮

block sidebar
  +sidebar('btn')

block content
  - var SIZES = ['large', '']
  - var ROLES = [["", "默认"], ["primary", "主要"], ["link", "链接"], ["text", "文字按钮"]]
  div.docs-description
    img(src='pictures/docs/btn.png')

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  h2 1. 不同大小和功能的按钮
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        
        each s in SIZES
          - var classname = 'sui-btn'
          - var size = ''
          if s
            - size = 'btn-' + s
          each r in ROLES
            - var role = ''
            if r[0]  
              - role = 'btn-' + r[0]
            | <a href='javascript:void(0);' class='sui-btn #{size} #{role}'>#{r[1]}</a>
            | 
          a(disabled class='sui-btn #{size}' href='javascript:void(0);') 禁用
          a(disabled class='sui-btn btn-text #{size}' href='javascript:void(0);') 禁用
          a(disabled class='sui-btn btn-link #{size}' href='javascript:void(0);') 禁用
          br
          br
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


  h2 2.带图标的按钮 
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo2
      div.bs-docs-example
        each v in ROLES
          - var classname = 'sui-btn'
          if v[0]
            - classname += ' btn-' + v[0]
          if v[0] != 'link'
            |<a href='javascript:void(0);' class='#{classname}'><i class='sui-icon icon-pencil'></i>#{v[1]}</a>
            | 

        a.sui-btn.btn-text(href='javascript:void(0);')
          i.sui-icon.icon-pc-refresh
        a.sui-btn.btn-text.btn-default(href='javascript:void(0);')
          i.sui-icon.icon-pc-refresh
          | 刷新
    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码
