mixin header(highlight)
  - var classIndex = ''
  - var classDemos = ''
  - var classExamples = ''
  - var classTutorial = ''
  - var classDownload = ''
  - var classThemes = ''
  - var classAbout = ''
  
  if highlight == 'demos'
    - classDemos = 'active'
  else if highlight == 'examples'
    - classExamples = 'active'
  else if highlight == 'tutorial'
    - classTutorial = 'active'
  else if highlight == 'download'
    - classDownload = 'active'
  else if highlight == 'themes'
    - classThemes = 'active'
  else if highlight == 'customize'
    - classCustomize = 'active'
  else if highlight == 'about'
    - classAbout = 'active'
  else
    - classIndex = 'active'
  div.sui-navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      .sui-container
        a.sui-brand(href="./index.html")
          i.sui-icon.icon-github-alt &nbsp;
          | SUI
        ul.sui-nav
          li(class=classIndex)
            a(href="./index.html") 首页
          li(class=classTutorial)
            a(href="./tutorial.html") 快速入门
          li(class=classDemos)
            a(href="./gallery.html") 组件库
          li(class=classExamples)
            a(href="./examples.html") 案例
          li(class=classDownload)
            a(href="./download.html") 下载
          li(class=classThemes)
            a(href="./themes.html") 换肤
          li(class=classCustomize)
            a(href="./customize.html") 自定义
          li(class=classAbout)
            a(href="./about.html") 关于

        ul.sui-nav.pull-right
          li.sui-dropdown.select#themes-select.themes-select
            a.dropdown-toggle#select(role="button" href="javascript:void(0);" data-toggle="dropdown")
              input(value='sui.css' name='themes' type='hidden' id='themes-input')
              span 换肤
            ul.sui-dropdown-menu(role="menu" aria-labelledby="drop4")
              li(role="presentation")
                a.default(role="menuitem" tabindex="-1" href="javascript:void(0);" value='default') 默认
              li(role="presentation")
                a.green(role="menuitem" tabindex="-1" href="javascript:void(0);" value='green') 自然绿
              li(role="presentation")
                a.pink(role="menuitem" tabindex="-1" href="javascript:void(0);" value='pink') 卖萌粉
              li(role="presentation")
                a.dark-green(role="menuitem" tabindex="-1" href="javascript:void(0);" value='dark-green') 深绿
