ul.sui-nav.nav-tabs.nav-stacked.nav-xlarge.docs-sidenav
  - var items = []
  - items.push({name: 'global', title:'全局样式', url: 'global.html', icon: 'sui-icon icon-globe'})
  - items.push({name: 'layouts', title:'布局', children:[], icon: 'sui-icon icon-th'})
  - items.push({name: 'base-css', title: '基础css', children:[], icon: 'sui-icon icon-magic' })
  - items.push({name: 'css-components', title: 'css组件', children:[], icon: 'sui-icon icon-picture'})
  - items.push({name: 'js-components', title: 'js组件', children:[], icon: 'sui-icon icon-shopping-cart'})
  - items.push({name: 'extends', title: '拓展组件', children:[], icon: 'sui-icon icon-shopping-cart'})

  - items[1].children.push({name: 'grid', title:'栅格', url:'grid.html'})
  - items[1].children.push({name: 'layout', title:'布局', url:'layout.html'})

  - items[2].children.push({name: 'btn', title:'按钮', url:'buttons.html'})
  - items[2].children.push({name: 'form', title:'表单', url:'forms.html'})
  - items[2].children.push({name: 'table', title:'表格', url:'tables.html'})
  - items[2].children.push({name: 'icons', title:'图标', url:'icons.html'})

  - items[3].children.push({name: 'msg', title:'提示消息', url:'msgs.html'})
  - items[3].children.push({name: 'step', title:'步骤条', url:'steps.html'})
  - items[3].children.push({name: 'tab', title:'标签页', url:'tab.html'})
  - items[3].children.push({name: 'breadcrumb', title:'面包屑', url:'breadcrumb.html'})
  - items[3].children.push({name: 'pagination', title:'分页器', url:'pagination.html'})
  - items[3].children.push({name: 'btn-group', title:'按钮组', url:'button-groups.html'})
  - items[3].children.push({name: 'dropdown', title:'下拉菜单', url:'dropdown.html'})
  - items[3].children.push({name: 'label', title:'标签', url:'label.html'})
  - items[3].children.push({name: 'progress', title:'进度条', url:'progress.html'})

  - items[4].children.push({name: 'dialog', title:'对话框', url:'dialog.html'})
  - items[4].children.push({name: 'tooltip', title:'tooltip', url:'tooltip.html'})
  - items[4].children.push({name: 'tab-js', title:'标签页', url:'tab-js.html'})
  - items[4].children.push({name: 'pagination-js', title:'分页器', url:'pagination-js.html'})
  - items[4].children.push({name: 'form-validate', title:'表单校验', url:'form-validate.html'})
  - items[4].children.push({name: 'dropdown-js', title:'下拉菜单', url:'dropdown-js.html'})

  for cat, i in items
    - var classname = ''
    if highlight == cat.name
      - classname = "active"
    if cat.children
      for item,j in cat.children
        if highlight == item.name
          - classname = 'active'
    li(class=classname)
      if !cat.children
        a(href=cat.url)
          i(class='#{cat.icon}') &nbsp;
          |#{cat.title}
      else
        a(href=cat.url)
          i(class='#{cat.icon}') &nbsp;
          |#{cat.title}
          i.sui-icon.icon-angle-down.pull-right
        ul.sui-nav.nav-tabs.nav-stacked

          for item,j in cat.children
            - var classname = ''
            if highlight == item.name
              - classname = "active"
            li(class=classname)
              a(href=item.url) #{item.title}
