ul.sui-nav.nav-stacked.docs-sidenav.docs-nav
  - var items = []
  - items.push({name: 'form', title:'表单', children:[], icon: 'sui-icon icon-edit'})
  - items.push({name: 'text', title:'文字和图标', children:[], icon: 'sui-icon icon-magic'})
  - items.push({name: 'table', title: '表格和布局', children:[], icon: 'sui-icon icon-th' })
  - items.push({name: 'nav', title: '导航和提醒', children:[], icon: 'sui-icon icon-globe'})
  - items.push({name: 'popover', title: '弹层', children:[], icon: 'sui-icon icon-picture'})
  - items.push({name: 'other', title: '其他', children:[], icon: 'sui-icon icon-shopping-cart'})

  - items[0].children.push({name: 'form', title:'表单', url:'forms.html'})
  - items[0].children.push({name: 'btn', title:'按钮', url:'buttons.html'})
  - items[0].children.push({name: 'btn-group', title:'按钮组', url:'button-groups.html'})
  - items[0].children.push({name: 'checkbox', title:'选框', url:'checkbox.html'})
  - items[0].children.push({name: 'dropdown', title:'下拉菜单 - 样式', url:'dropdown.html'})
  - items[0].children.push({name: 'dropdown-js', title:'下拉菜单 - JS', url:'dropdown-js.html'})
  - items[0].children.push({name: 'form-validate', title:'表单校验', url:'form-validate.html'})
  - items[0].children.push({name: 'datetimepicker', title:'datetimepicker', url:'datetimepicker.html'})
  - items[0].children.push({name: 'Autocomplete', title:'自动补全', url:'autocomplete.html'})
  - items[0].children.push({name: 'tree-js', title:'级联选择', url:'tree-js.html'})

  - items[1].children.push({name: 'global', title:'全局文本样式', url:'global.html'})
  - items[1].children.push({name: 'icons', title:'图标', url:'icons.html'})
  - items[1].children.push({name: 'Label', title:'Label', url:'label.html'})
  - items[1].children.push({name: 'Tag', title:'Tag', url:'tag.html'})

  - items[2].children.push({name: 'table', title:'表格', url:'tables.html'})
  - items[2].children.push({name: 'grid', title:'栅格', url:'grid.html'})
  - items[2].children.push({name: 'layout', title:'布局', url:'layout.html'})

  - items[3].children.push({name: 'navbar', title:'导航栏', url:'navbar.html'})
  - items[3].children.push({name: 'pagination', title:'分页器 - 样式', url:'pagination.html'})
  - items[3].children.push({name: 'pagination-js', title:'分页器 - JS', url:'pagination-js.html'})
  - items[3].children.push({name: 'msg', title:'提示消息', url:'msgs.html'})
  - items[3].children.push({name: 'step', title:'步骤条', url:'steps.html'})
  - items[3].children.push({name: 'breadcrumb', title:'面包屑', url:'breadcrumb.html'})
  - items[3].children.push({name: 'tab', title:'标签页 - 样式', url:'tab.html'})
  - items[3].children.push({name: 'tab-js', title:'标签页 - JS', url:'tab-js.html'})
  - items[3].children.push({name: 'intro', title:'新手指引', url:'intro.html'})
  - items[3].children.push({name: 'noty', title:'提示框', url:'noty.html'})

  - items[4].children.push({name: 'dialog', title:'对话框', url:'dialog.html'})
  - items[4].children.push({name: 'tooltip', title:'tooltip', url:'tooltip.html'})

  - items[5].children.push({name: 'Loading', title:'Loading', url:'loading.html'})
  - items[5].children.push({name: 'progress', title:'进度条', url:'progress.html'})

  for cat, i in items
    - var classname = ''
    if highlight == cat.name
      - classname = "active"
    if cat.children
      for item,j in cat.children
        if highlight == item.name
          - classname = 'active'
    li(class=classname)
      if !cat.children
        a(href=cat.url)
          i(class='docs-icon') &nbsp;
          |#{cat.title}
          
          
      else
        a(href=cat.url)
          i(class='docs-icon') &nbsp;
          |#{cat.title}
          
         
          //- i.sui-icon.icon-angle-down.pull-right
        ul.sui-nav.nav-stacked.docs-nav
          for item,j in cat.children
            - var classname = ''
            if highlight == item.name
              - classname = "active"
            li(class=classname)
              a(href=item.url) #{item.title}

script(type="text/javascript").
  var disqus_identifier = 'disqus-id-!{highlight}';
  function changeHeight(itemHeight){
    if(!itemHeight) {
      var height = $(window).height()-57;
      var count = $(".docs-sidenav>li").length+$(".sui-nav.nav-stacked.docs-sidenav.docs-nav .active").find("ul").children("li").length;
      itemHeight = height/count-4;
      if(itemHeight>50){
        itemHeight = 50;
      }else if(itemHeight<15){
        itemHeight = 15;
      }else{
        itemHeight =itemHeight;
      }
    }
    $(".sui-nav.nav-stacked.docs-nav li a").css("line-height",itemHeight+"px");
    localStorage.setItem("sidenav.itemHeight", itemHeight);
  }
  $(window).resize(function(){
    changeHeight();
  });
  var lastItemHeight = localStorage.getItem("sidenav.itemHeight");
  if(lastItemHeight) {
    changeHeight();
  } else {
    $(changeHeight);
  }
